<footer style= "margin-top: 2em">
    <div class="salto"></div>
    <h6>
        <div class="contenedor1">
            <p style="color:rgb(25, 2, 129)">TODOS LOS DERECHOS RESERVADOS</p>
            <p style="color:rgb(25, 2, 129">FIRMA: T-WHITE-CODE</p>
        </div>
    </h6>

</footer>
</div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="js/socket.js"></script>



</body>

</html>