{{>header}}


    <div class="contenedor1">
        <p>Chat</p>
        <form id="formulario">
            <input type="text" id="nombre">
            <input type="text" id="texto">
            <button>enviar</button>
        </form>
        <div id="chat"></div>
    </div>

{{>footer}}