{{>header}}
    <center><h1><font color="#f2f2f2">Share Books</font></h1></center>
    <div class="contenedor1">
                {{{listaL libros}}}
    </div>
            <div class="contenedor2">
                <a class="twitter-timeline" data-lang="es" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/Revistadelibros?ref_src=twsrc%5Etfw">Tweets by Revistadelibros</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
{{>footer}}