{{>header}}

<br>
<br>
<br>
<br>
<a class="twitter-timeline" data-lang="es" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/Revistadelibros?ref_src=twsrc%5Etfw">Tweets by Revistadelibros</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <p>Chat</p>
        <form id="formulario">
            <input type="text" id="nombre">
            <input type="text" id="texto">
            <button>enviar</button>
        </form>
        <div id="chat"></div>
{{>footer}}