{{>header}}

<center>
    <br>
    <br>
    <br>
        <section style="width:365px; height:300px;background:#53d1ec;border-radius:5px;">
                <br>
                <br>
            <form action="/" method="post">
            <h3>Nombre</h3>
            <input type="text"   name="nombreUsuario" placeholder="Nombre de usuario" required>
            <h3>Contraseña</h3>
            <input type="password"   name="contrasenaUsuario" placeholder="ej: s0yUnU5uar10" required>
                <br>
                <br>
            <button>Ingresar</button>
            </form>
        </section>
</center>

{{>footer}}